.card {
  text-align: center;
  border: 1px solid transparent;
}
/*.card:hover:nth-child (){
	border-bottom: 1px solid maroon;
}
.card:hover{
	border-bottom:1px solid black;
}*/
.card-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.card-description {
  padding: 20px auto;
}
.card-image {

}
.card-image > img {

  margin: 0 auto;
}
.icon {
  font-size: 82px;
}
.icon-map{
  color:#fff;
  width: 50px;
}
.card-team{
  border: 1px solid #fff;
}