
.nav-mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

}
.nav-item {
  color: #ffffff;
    font-size: 20px;
}
.nav {
  display: none;
}

@media (min-width: 480px) {
  .nav {
    position: relative;
    display: flex;
    margin: 20px auto;
  }
  .nav-mobile {
    display: none;
  }
  .nav-item {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  padding-right: 30px;
  font-weight: 400;
  line-height: 14px;
  
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: underline;
}
.nav-item.is-active {
  pointer-events: none;
  text-decoration: underline;
  color: aqua;
}
.nav-fot-item {
  padding-right:40px;
}