.nav-item {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  padding-right: 30px;
  font-weight: 400;
  line-height: 14px;
  
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: underline;
}
.nav-item.is-active {
	pointer-events: none;
  text-decoration: underline;
  color: aqua;
}
.nav-fot-item {
	padding-right:40px;
}
